/*   MADE BY OLDISEK with E    */
/* this is for client.html only */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.server-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  position: relative;
  top: 20px;

  min-height: 60px;

  overflow-x: scroll;

  background-color: var(--fg);

  box-sizing: border-box;
  padding: 2px 5px;
  margin: 0 10px;
  border-radius: 8px;
}

.server {
  position: relative;
  cursor: pointer;
}

.server img,
.server svg {
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  max-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--bg);
  transition: all 200ms;
  text-align: center;
}

.server:hover img,
.server:hover svg {
  border-radius: 2px;
}

.server > p {
  display: none; /* fancy but not working correctly */
  position: absolute;
  bottom: -40px;
  left: 50%;

  background-color: var(--fg);
  color: var(--hl);

  transform: translate(-50%, -20px) scale(0);
  transition: all 200ms;

  padding: 3px;
  box-sizing: border-box;
  border-radius: 5px;
  white-space: nowrap;
}

.server:hover > p {
  transform: translate(-50%, -0px) scale(1);
}

.active-server svg,
.active-server img{
  background-color: var(--hl-m);
  outline: 2px solid var(--hl);
  border-radius: 2px !important;
}

main {
  display: flex;
  gap: 10px;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 30px;
  left: 10px;

  width: 250px;
  height: calc(100vh - 120px);

  background-color: var(--fg);

  border-radius: 8px;
}

.center-top,
.top-left {
  flex-grow: 1;
  
  max-height: 25px;
  min-height: 25px;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
}

.center-top:not(:empty),
.top-left:not(:empty) {
  backdrop-filter: brightness(80%);
}

#channelsContainer {
  width: 100%;
  flex-grow: 8;

  overflow-y: scroll;
  overflow-x: hidden;

  box-sizing: border-box;
  padding: 5px;
}

.channel {
  display: flex;

  font-size: 1.2rem;

  overflow: hidden;

  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}

.channel img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 5px;
}

.channel:hover {
  background-color: var(--btn);
}

.channel-name {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 2;

  max-height: 65px;
  min-height: 65px;
  
  backdrop-filter: brightness(80%);

  box-sizing: border-box;
  padding: 10px;
  border-radius: 0 0 8px 8px;
}

#usertag {
  font-size: 0.7rem;
  color: var(--text-m);
}

.user-info {
  display: flex;
}

.user-info div {
  margin-left: 5px;
}

.settings button {
  height: fit-content;

  padding: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
  top: 30px;
  left: 10px;

  width: calc(100% - 280px);
  height: calc(100vh - 120px);
}

.active-channel {
  background-color: var(--btn);
}

.input {
  flex-grow: 1;

  display: flex;

  width: 100%;
  max-height: 55px;

  background-color: var(--fg);

  box-sizing: border-box;
  border-radius: 8px;
}

.chat-input {
  flex-grow: 9;

  width: 100%;

  font-size: larger;
  cursor: text;

  transition: all .7s;

  background-color: var(--fg);
  color: var(--text);
  
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  outline: 0px solid var(--hl);
}
.chat-input:focus,
.chat-input:active,
.chat-input:hover {
  transition: all 100ms;
  filter: brightness(80%);
}

.chat-switch {
  background-color: var(--fg);
  padding: .27rem;
  border: none;
  border-radius: 10px;
  font-size: larger;
  color: var(--text);
  transition: padding 0s, all .2s;
  cursor: pointer;
  box-sizing: border-box;
}

.raw-active {
  color: var(--hl);
}

.top-center {
  display: flex;
  flex-direction: column;

  flex-grow: 9;
  
  width: 100%;
  max-height: calc(100% - 65px);

  background-color: var(--fg);

  border-radius: 8px;
}

.messages {
  flex-grow: 1;

  width: 100%;
  position: relative;

  overflow-y: scroll;
  overflow-x: hidden;

  border-radius: 8px;
  box-sizing: border-box;
  padding: 5px;
}

.load-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
.load-error p {
  font-size: 1.5rem;
  text-align: center;
}

.channel-span,
.role-span,
.mention-span {
  background-color: #9c751a70;
  border-radius: 3px;
}

.message {
  display: flex;

  box-sizing: border-box;
  margin-top: 20px;
  padding-right: 2rem;
}

.message-head {
  margin: 0;
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 5px;
}

.message-head span{
  font-size: 0.6rem;
  color: var(--text-m);
}

.message-content p{
  margin: 0;
}

.message-content img {
  width: 1rem;
  height: 1rem;
}

.message>img {
  width: 50px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 10px;
}

.embed-container {
  display: block;

  width: fit-content;
  max-width: 500px;

  background-color: var(--embed);

  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.embed-thumbnail {
  float: right;
  width: 80px !important;
  height: 80px !important;
}

.embed-field-container h4 {
  margin: 0;
}

.embed-field-inline {
  display: inline-block;
  margin-left: 1.8rem;
}

.embed-footer img {
  width: 10px !important;
  height: 10px !important;
}

.embed-footer-text {
  margin-top: 1rem;
  margin-left: .5rem;
  font-size: 0.6rem;
  font-weight: 500;
}

.embed-image-container img{
  width: 100% !important;
  height: unset !important;
}

.message-context {
  display: flex;
  flex-direction: column;

  width: fit-content;

  font-size: 1.2rem;

  background-color: var(--fg);

  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;

  box-shadow: 0 0 10px 0 #00000050;
  z-index: 300;
}

.message-context span {
  transition: all 200ms;
  
  box-sizing: border-box;
  padding: 3px;
  border-radius: 4px;

  user-select: none;
  cursor: pointer;
}

.message-context span:hover {
  background-color: var(--btn);
}

.message-attachment {
  max-width: 300px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
  backdrop-filter: brightness(90%);
  transition: all 200ms;
}

.message-attachment:hover {
  transform: scale(1.01);
  backdrop-filter: brightness(80%);
}